#div_contacts{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    /*background: chartreuse;*/
}

#tbl_contacts{
    margin-left: auto;
    margin-right: auto;
}

.contact_items{
    cursor: pointer;
}