#div_notifs{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border-radius: 5px;
    /* border: solid 1px grey; */
    color: black;
    font-family: Arial;
    opacity: 0.9;
    /* box-shadow: 5px 5px 20px black; */
}

#div_under{
    width: 100%
}

#tbl_main{
    width: 100%;
    height: auto;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

#label_notif{
    color: white;
}


#tbl_notifs{
    background: white;
    /* background: linear-gradient(20deg, #db2044, #e233b8); */
    box-shadow: 0px 0px 5px #7e7e7e;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /* border: solid grey 1px; */
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.heads{
    width: 100px;
}

#container_btns_con{
    height: 100%;
    width: 200px;
    /* background-color: black; */
    margin-left: auto;
    margin-right: auto;
}

.btns_con{
    margin: 5px;
    margin-top: 10%;
}

#ul_notifs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@media screen and (max-width: 720px) {
    #container_btns_con{
        width: 100%;
    }

    .btns_con{
        margin: 5px;
        margin-top: 0;
    }

    #li_cont{
        width: 100%
    }
}