#div_home{
    width: 100%;
    height: 100%;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#image{
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    border: solid 1px grey;
    border-radius: 250px;
    margin-top: 10px;
}

#upper{
    width: 100%;
}

#li_one{
    max-width: 300px;
    width: calc(100% - 300px);
    min-width: 60px;
    border-right: solid 1px grey;
}

#li_two{
    max-width: 300px;
    width: calc(100% - 300px);
    min-width: 0px;
    height: 100%;
    background-color: white;
    border-right: solid 1px grey;
}

#li_three{
    min-width: 300px;
    width: calc(100% - 600px);
    background-color: white;
}

#div_one{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#navs{
    margin-top: 50px;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}

.links{
    text-decoration: none;
    color: black;
    font-size: 20px;
    max-width: 200px;
    width: 100%;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.tr_navs{
    width: 100%;
}

@media screen and (max-width: 720px) {
    #image{
        max-width: 200px;
        max-height: 200px;
        width: 50px;
        border: solid 1px grey;
        border-radius: 250px;
        margin-top: 10px;
    }

    #h3_label{
        display: none;
    }

    .links{
        text-decoration: none;
        color: black;
        font-size: 0px;
        max-width: 200px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        border: solid 1px grey;
        text-align: left;
        font-family:Arial, Helvetica, sans-serif;
        margin-left: auto;
        margin-right: auto;
    }

    #li_two{
        display: none;
    }

    #li_three{
        width: 100%;
    }
}
