#div_home{
    width: 100%;
    height: 100%;
    position: absolute;
    /* background: linear-gradient(20deg, #ff4ba7, #ffda64); */
    /* background-color: #301934; */
    /* background-color: #e1e1e1; */
    background: url('../imgs/bgimg.jpg');
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

/* #contacts_handler{
    max-width: 350px;
    width: 100%;
    position: fixed;
    height: calc(100% - 100px);
    margin-left: 10px;
    background-color: lightcoral;
}

#feed_handler{
    max-width: 600px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
} */

#table_home{
    width: 100%;
    height: 100%;
    /* background-color: chocolate; */
}

#tr_contacts{
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#tr_feed{
    width: 50%;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
}

#tr_notifs{
    width: 25%;
    min-width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    height: 100%;
}

.tbl_nav_img{
    margin-top: -5px;
    padding: 0;
    margin-left: 0;
}

#search_bar{
    height: 40px;
    margin-top: 0px;
    margin-left: 5px;
    width: 100%;
}

.btns_navs{
    width: 40px;
    height: 40px;
    margin-left: 1px;
    cursor: pointer;
}

#btn_child{
    margin-left: 0px;
    margin-right: 10px;
}

#navbar{
    background-color: white;
    /* border: solid 1px black; */
    position: fixed;
    left: 50%;
    margin-left: -310px;
    width: 600px;
    padding: 5px 5px 3px 10px;
    border-radius: 0px 0px 10px 10px;
    margin-top: 0px;
    text-align: center;
    /* background: linear-gradient(20deg, #db2044, #e233b8); */
    background-color: white;
    box-shadow: 0px 0px 10px #7e7e7e;
    opacity: 0.8;
    z-index: 1;
}

#img_handler{
    width: 40px;
    height: 40px;
    border: solid 1px grey;
    border-radius: 40px;
    padding: 0;
    cursor: pointer;
    /* margin: 0; */
}

#nav_username{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    margin-right: 15px;
    margin-left: 10px;
    max-width: 80px;
    cursor: pointer;
    /* background-color: aqua; */
    /* padding-top: 50px; */
    margin-top: 10px;
    /* display: inline-block; */
}

#body_home{
    /* background-color: khaki; */
    width: 100%;
    height: calc(100% - 80px);
    margin-top: 80px;
}

@media screen and (max-width: 1000px) {
    #tr_contacts{
       display: none;
    }
}

#contacts_li_container{
    display: none;
}


@media screen and (max-width: 720px) {
    #navbar{
        background-color: white;
        border: solid 1px black;
        position:sticky;
        width: 90%;
        padding: 5px 5px 3px 10px;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        left: 0%;
    }

    #nav_username{
        display: none;
    }

    #body_home{
        width: 100%;
        /* height: 500px; */
        height: calc(100% - 86px);
        margin-top: 30px;
        padding-bottom: 50px;
    }

    #div_home{
        height: auto;
        min-height: 100%;
    }

    #tr_notifs{
        display: none;
    }

    #contacts_li_container{
        display: block;
    }

    #map_li_container{
        display: none;
    }
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bebebe; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: grey; 
  }

/* ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#image{
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    border: solid 1px grey;
    border-radius: 250px;
    margin-top: 10px;
}

#upper{
    width: 100%;
}

#li_one{
    max-width: 300px;
    width: calc(100% - 300px);
    min-width: 60px;
    border-right: solid 1px grey;
}

#li_two{
    max-width: 300px;
    width: calc(100% - 300px);
    min-width: 0px;
    height: 100%;
    background-color: white;
    border-right: solid 1px grey;
}

#li_three{
    min-width: 300px;
    width: calc(100% - 600px);
    background-color: white;
}

#div_one{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#navs{
    margin-top: 50px;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}

.links{
    text-decoration: none;
    color: black;
    font-size: 20px;
    max-width: 200px;
    width: 100%;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.tr_navs{
    width: 100%;
}

@media screen and (max-width: 720px) {
    #image{
        max-width: 200px;
        max-height: 200px;
        width: 50px;
        border: solid 1px grey;
        border-radius: 250px;
        margin-top: 10px;
    }

    #h3_label{
        display: none;
    }

    .links{
        text-decoration: none;
        color: black;
        font-size: 0px;
        max-width: 200px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        border: solid 1px grey;
        text-align: left;
        font-family:Arial, Helvetica, sans-serif;
        margin-left: auto;
        margin-right: auto;
    }

    #li_one{
        width: auto;
    }

    #li_two{
        display: none;
    }

    #li_three{
        width: 100%;
    }
} */
