#div_splash{
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    gap: 5px;
}

#div_icon_container{
    width: 95%;
    height: 95%;
    max-width: 300px;
    max-height: 300px;
    margin-top: -50px;
}

#img_icon_splash{
    width: 100%;
    height: 100%;
}

#div_icon_labels{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.span_icon_label:first-of-type{
    font-size: 30px;
    font-weight: bold;
    color: rgb(86, 86, 86);
}

.span_icon_label:last-of-type{
    font-size: 15px;
    color: rgb(86, 86, 86);
}


/* HOME SECTION */


#div_home{
    width: 100%;
    max-width: 1700px;
    height: 100%;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}

#div_home_navigations{
    background-color: white;
    width: calc(95% - 20px);
    max-width: calc(600px - 20px);
    min-height: calc(60px - 10px);
    height: auto;
    margin-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    border: solid 1px rgb(210, 210, 210);
}

#div_profile_search_container{
    display: flex;
    flex-direction: row;
    min-height: 40px;
    height: 100%;
    width: 100%;
    flex: 1;
    align-items: center;
}

#img_profile_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    height: 100%;
    width: auto;
    max-width: 100px;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

#img_default_profile_container{
    width: 100%;
    height: 100%;
    min-width: 40px;
    max-width: 40px;
    max-height: 40px;
    background-color: rgb(210, 210, 210);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px rgb(210, 210, 210);
}

#img_default_profile{
    width: 60%;
    height: 60%;
}

#span_user_firstname_label{
    color: #4A4A4A;
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* font-family: 'Raleway', sans-serif; */
}

#div_search_container{
    min-height: 40px;
    height: calc(100% - 10px);
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    padding: 5px;
    background-color: transparent;
}

#div_input_container{
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    max-height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 5px;
    border: solid 1px rgb(210, 210, 210);
}

#input_search_box{
    height: 80%;
    width: 100%;
    flex: 1;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #4A4A4A;
}

#div_buttons_navigation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* flex: 1; */
    width: fit-content;
    background-color: transparent;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.btn_navigations{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_main_home{
    background-color: transparent;
    width: calc(100% - 0px);
    /* height: calc(100% - 0px); */
    flex: 1;
    padding: 0px;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.span_icon_counts{
    position: absolute;
    background-color: red;
    color: white;
    min-width: 15px;
    width: auto;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 15px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: -20px;
    margin-right: -20px;
}

@media screen and (max-width: 450px) {
    #div_buttons_navigation{
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    /* .btn_navigations:first-of-type{
        display: block;
    } */

    #div_home_navigations{
        flex-direction: column;
        gap: 10px;
    }

    #div_buttons_navigation{
        flex: 1;
    }

    #div_home_navigations{
        width: calc(100% - 20px);
        max-width: calc(100% - 20px);
        border-radius: 0px;
    }

    /* #div_search_container{
        display: none;
    } */
}

@media screen and (max-width: 900px) {
    #div_main_home{
        justify-content: center;
    }
}