#div_login{
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_login_form{
    background-color: #1c7DEF;
    width: 95%;
    max-width: 430px;
    border-radius: 20px;
    padding-left: 0px;
    padding-right: 0px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

#span_login_label{
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    user-select: none;
}

#div_img_icon_login_container{
    background-color: #1c7DEF;
    width: 100%;
    height: 100%;
    max-width: 120px;
    max-height: 120px;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 120px;
    align-self: center;
    margin-bottom: -50px;
    z-index: 1;
}

#img_icon_login{
    width: 95%;
    height: 95%;
    max-width: 100px;
    max-height: 100px;
}

#div_login_form_inputs{
    width: calc(100% - 20px);
    height: auto;
    padding: 10px;
    padding-top: 75px;
    background-color: #DFDFDF;
    border-radius: 20px;
    min-height: 100px;
}

#div_inputs_container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.inputs_login{
    width: calc(95% - 30px);
    max-width: calc(330px - 30px);
    height: 35px;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
}

#btn_login{
    width: 95%;
    max-width: 120px;
    height: 35px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #1c7DEF;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: bold;
}

#div_question_label_login{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

#span_question_label{
    font-size: 13px;
    color: #6A6A6A;
}

#span_sign_up_redirect{
    font-size: 13px;
    color: #1c7DEF;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

#div_bubble1{
    width: 300px;
    height: 300px;
    border-radius: 300px;
    background-color: #1c7DEF;
    top: -80px;
    left: -80px;
    position: fixed;
}

#div_bubble2{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background-color: #B8B8B8;
    top: 225px;
    left: -30px;
    position: fixed;
}

#div_bubble3{
    width: 300px;
    height: 300px;
    border-radius: 300px;
    background-color: #1c7DEF;
    bottom: 125px;
    right: -80px;
    position: fixed;
}

#div_bubble4{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background-color: #B8B8B8;
    bottom: -30px;
    right: -30px;
    position: fixed;
}

/* REGISTER COMPONENT SECTION */

#div_register{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

#div_register_form{
    /* width: 95%; */
    height: 95%;
    max-width: 900px;
    max-height: 470px;
    background-color: #1c7DEF;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    z-index: 1;
    border: solid 2px white;
    overflow-x: hidden;
}

#div_icon_register_container{
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#img_icon_register{
    height: 100%;
    width: 100%;
    max-height: 150px;
    max-width: 150px;
}

#div_register_form_inputs{
    background-color: #DFDFDF;
    display: flex;
    flex: 1;
    flex-direction: column;
    border-radius: 0px 20px 20px 0px;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
    overflow-y: hidden;
}

#div_inputs_name{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.input_names{
    width: calc(100% / 3 - 30px);
    height: 35px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
}

#div_inputs_email{
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.input_email{
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
}

#div_birthdate{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#span_birthdate_label{
    width: calc(100% - 40px);
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    font-size: 15px;
    color: #4A4A4A;
    font-weight: bold;
}

#div_inputs_dates{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.input_dates{
    width: calc(100% / 3 - 10px);
    height: 35px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
}

#div_inputs_password{
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.input_password{
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
}

#div_checkbox_terms_conditions{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
    gap: 5px;
}

#span_checkbox_terms_conditions{
    font-size: 13px;
    color: #4A4A4A;
}

#input_checkbox_terms_conditions{
    margin-top: 5px;
    cursor: pointer;
}

#div_button_sign_up{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn_register{
    width: 95%;
    max-width: 120px;
    height: 35px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #1c7DEF;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: bold;
}

#div_bubble_register1{
    width: 300px;
    height: 300px;
    border-radius: 300px;
    background-color: #B8B8B8;
    bottom: -80px;
    left: -20px;
    position: fixed;
}

#div_bubble_register2{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background-color: #1c7DEF;
    bottom: 215px;
    left: -30px;
    position: fixed;
}

#div_bubble_register3{
    width: 300px;
    height: 300px;
    border-radius: 300px;
    background-color: #B8B8B8;
    top: 110px;
    right: -100px;
    position: fixed;
}

#div_bubble_register4{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background-color: #1c7DEF;
    top: -30px;
    right: 70px;
    position: fixed;
}

.input_gender{
    width: calc(100% / 3 - 10px);
    height: 35px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    cursor: pointer;
}

/* VERIFICATION COMPONENT SECTION */

#div_verification{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#div_verification_container{
    background-color: #1c7DEF;
    /* width: 95%; */
    height: 95%;
    max-width: 900px;
    max-height: 470px;
    background-color: #1c7DEF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    border: solid 2px white;
    overflow-x: hidden;
    overflow-y: hidden;
}

#div_verification_header_container{
    width: calc(100% - 20px);
    height: auto;
    min-height: 80px;
    padding: 10px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div_verification_icon_container{
    width: 95%;
    height: 95%;
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    border-radius: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    position: absolute;
}

#img_ver_icon{
    width: 90%;
    height: 90%;
    z-index: 1;
}

#div_ver_bubble{
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: white;
    position: absolute;
    margin-right: 80px;
    margin-top: 60px;
    /* left: 20px; */
}

#div_ver_bubble2{
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    margin-right: 120px;
    margin-top: 85px;
    /* left: 20px; */
}

#span_verify_label{
    margin-top: 70px;
    margin-bottom: 5px;
    font-size: 17px;
    color: white;
    font-weight: bold;
}


#div_verification_form{
    background-color: #DFDFDF;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    gap: 20px;
}

#span_verifiaction_label_to_user{
    font-size: 15px;
}

#div_input_code{
    width: calc(100% - 40px);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ver_container{
    background-color: transparent;
}

.ver_character{
    background-color: white;
    border: none;
    border-radius: 10px;
}

#btn_verify{
    width: 95%;
    max-width: 120px;
    height: 35px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #45EF56;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: bold;
    align-self: center;
    margin-top: -10px;
}

#div_verification_navigations{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.btn_verification_navigations{
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 13px;
    color: #3b3b3b;
    cursor: pointer;
}

#div_bubble_verification1{
    width: 300px;
    height: 300px;
    border-radius: 300px;
    background-color: #B8B8B8;
    top: 60px;
    left: -70px;
    position: fixed;
}

#div_bubble_verification2{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background-color: #1c7DEF;
    top: -100px;
    left: 20px;
    position: fixed;
}

#div_bubble_verification3{
    width: 300px;
    height: 300px;
    border-radius: 300px;
    background-color: #1c7DEF;
    bottom: -10px;
    right: -100px;
    position: fixed;
}

#div_bubble_verification4{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background-color: #B8B8B8;
    bottom: 290px;
    right: -80px;
    position: fixed;
}

#div_bubble_verification5{
    width: 60px;
    height: 60px;
    border-radius: 80px;
    background-color: #1c7DEF;
    top: 140px;
    right: 90px;
    position: fixed;
}

#div_bubble_verification6{
    width: 170px;
    height: 170px;
    border-radius: 150px;
    background-color: #45EF56;
    top: 20px;
    right: -80px;
    position: fixed;
}

#div_bubble_verification7{
    width: 60px;
    height: 60px;
    border-radius: 80px;
    background-color: #1c7DEF;
    bottom: 90px;
    left: 180px;
    position: fixed;
}

#div_bubble_verification8{
    width: 170px;
    height: 170px;
    border-radius: 150px;
    background-color: #45EF56;
    bottom: -70px;
    left: 50px;
    position: fixed;
}

#div_loader_request{
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 40px;
    color: #3b3b3b;
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_loader_request_verify{
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 40px;
    color: #3b3b3b;
    margin-top: -10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

@media screen and (max-width: 720px) {
    #div_register_form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-height: none;
        max-height: 700px;
        height: auto;
    }
    
    #div_icon_register_container{
        /* height: 400px; */
        display: none;
    }

    #div_register_form_inputs{
        width: calc(100% - 20px);
        border-radius: 20px;
    }
    
    .input_names{
        width: calc(100% - 54px);
    }

    #div_inputs_email{
        width: calc(100% - 34px);
    }

    #div_inputs_password{
        width: calc(100% - 34px);
    }
    
    #div_inputs_dates{
        width: calc(100% - 20px);
        align-self: center;
    }
}