#div_callcollection{
    background-color: transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    pointer-events: none;
    /* padding: 5px; */
}

#div_call_indv{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    min-height: 170px;
    max-width: 300px;
    border-radius: 5px;
    pointer-events: fill;
    color: white;
    border: solid 1px rgb(210, 210, 210);
}

#div_top_nav_call_window{
    background-color: transparent;
    width: calc(100% - 10px);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
    padding: 5px;
    padding-top: 7px;
    z-index: 2;
}


#span_call_displayname{
    font-size: 12px;
    display: flex;
    flex: 1;
    text-align: left;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.btn_top_nav_call_window{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#div_call_controls{
    background-color: transparent;
    width: calc(100% - 10px);
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    padding-bottom: 10px;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.btn_call_controls{
    width: 45px;
    height: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

.btn_call_controls_enable{
    background-color: #888;
}

.btn_call_controls_end{
    background-color: red;
    color: white;
}

.div_callwindow_content_not_answered{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span_callwindow_content_not_answered_label{
    font-size: 12px;
    user-select: none;
}

.div_video_blocks_holder{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.div_video_blocks{
    width: 100%;
    max-width: 270px;
    height: 100%;
    max-height: 150px;
    background-color: #3d4043;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.video_call_display{
    width: 100%;
    height: 100%;
}